<footer class="footer">
    <small>
        <p>Highest level achieved: Credit</p>
    </small>
    <nav>
        <ul>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.twitter.com/">Twitter</a></li>
            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
        </ul>
    </nav>
</footer>