<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="#">Name: Kim Ta</a>
        <a class="navbar-brand mb-0 h1" href="#">Student email: s3840049@student.rmit.edu.au</a>
    </div>
</header>